body{
  background-image: url("https://images.alphacoders.com/690/690430.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

h1, h5 {
  text-align: left;
  font-family: Lobster,sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgb(0, 204, 255), 0 0 10px rgb(0, 143, 179);
  display: inline;
  padding: 10px;
}

p {
  text-align: left;
  font-family: Lobster,sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 50px rgb(0, 204, 255), 0 0 10px rgb(0, 143, 179);
}

.container {
  margin: 0 auto;
  text-align: center;
}

.simonBoard {
  margin: 0 auto;
  margin-top: 0px;
  border: 10px solid black;
  width: 600px;
  height: 600px;
  border-radius: 600px;
  font-family: serif;
  font-weight: bold;
}

.pad {
  margin: 0;
  float: left;
  position: relative;
  width: 290px;
  height: 290px;
  border: 3px solid black;
}

.green {
  background-color: #47cf73;
  -moz-border-radius: 300px 0 0 0;
  border-radius: 300px 0 0 0;
}

.green-active {
  background-color: #217821;
}

.red {
  background-color: #d02929;
  -moz-border-radius: 0 300px 0 0;
  border-radius: 0 300px 0 0;
}

.red-active {
  background-color: darkred;
}

.yellow {
  background-color: yellow;
  -moz-border-radius: 0 0 0 300px;
  border-radius: 0 0 0 300px;
}

.yellow-active {
  background-color: #dfdf67;
}

.blue {
  background-color: blue;
  -moz-border-radius: 0 0 300px 0;
  border-radius: 0 0 300px 0;
}

.blue-active {
  background-color: darkblue;
}

.controls {
  width: 245px;
  height: 245px;
  margin-left: 170px;
  margin-top: 170px;
  background-color: #e8e2e2;
  border: 10px solid black;
  border-radius: 150px;
  position: absolute;
  z-index: 10;
}

.title { 
  margin-top: 20px;
  font-size: 45px;
  margin-bottom: 10px;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.display {
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  width: 60px;
  height: 55px;
  font-size: 40px;
  background-color: #342626;
}

.start, .strict {
  margin: 0px;
  margin-left: 20px;
  text-align: center;
  width: 55px;
  height: 55px;
  border: 2px solid black;
  border-radius: 35px;
  color: black;
  font-size: 20px;
  line-height: 55px;
}

.start {
  background-color: #d02929;
}

.strict {
  background-color: #f1f10a;
}

.outer-switch {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  background-color: black;
}

.inner-switch {
  width: 30px;
  height: 30px;
  background-color: gray;
}